body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(206, 206, 206);
}
/*título do site*/
.nome{
    background-color: rgb(184, 0, 0);
    color: white;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0;
    width: 100%;
    border: 1px rgb(61, 61, 61) solid;
    text-shadow:
    -1.4px -1.4px 0 black,
     1.4px -1.4px 0 black,
    -1.4px  1.4px 0 black,
     1.4px  1.4px 0 black;
}
/*menu de navegação superior*/
.cabecalho{
    color: white;
    background-color: black;
    margin: 0px;
    padding: 5px 0;}
nav ul{
    list-style: none;
    text-align: center;
    }
nav ul li{
    display: inline-block;
    text-decoration: none;
    width: 135px;
    padding: 0px 50px;
    }
nav ul li a
    {color: white;
    padding: 15px 0px;
    max-width: 110px;
    transition: background 0.2s;
    text-decoration: none;
    display: flex;
}
nav ul li a:hover{
    background-color: gray;
}
/*Início do site*/
#inicio{
    text-align: center;
}
#inicio h1{
    font-size: 30px;
}
#inicio p{
    font-size: 20px;
    margin-bottom: 40px;
}
/*botão de mais informações*/
.btn {
    background-color: rgb(73, 73, 255);
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 20px;
    transition: background 0.2s;
}
.btn:hover{
    background-color: blue;
}
/*Sessão sobre nós*/
.sobrenos{
    background-color: rgb(84, 115, 255);
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30.5%;
    border-radius: 10px;
    }
.sobrenos p{
    margin-top: 5px;
}
/*Sessão de serviços*/
#servicos{
    margin-top: 30px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 35px;
    }
.cards h3{
    font-size: 20px;
}
.card1{
    background-color: darkgreen;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
    transition: transform 0.2s;
    box-shadow: 0 8px 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.card1:hover{
    background-color: green;
    transition: 10px;
    transform: scale(1.03);
}
.card2{
    background-color: darkgreen;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
    transition: transform 0.2s;
    box-shadow: 0 8px 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.card2:hover{
    background-color: green;
    transition: 10px;
    transform: scale(1.03);}
.card3{
    background-color: darkgreen;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
    transition: transform 0.2s;
    box-shadow: 0 8px 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.card3:hover{
    background-color: green;
    transition: 10px;
    transform: scale(1.03);}
#forms {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 2px 10px;
}
.form {
    max-width: 500px;
    text-align: left;
    margin: 0;
}
.form label, .form textarea{
    display: block;
    margin: 8px 0px;
    align-content: center;
    border-radius: 2px;
}
.form button{
    border-radius: 5px;
    background-color: rgb(30, 30, 255);
    transition: 0.2s;
    cursor: pointer;
}
.form button:hover {
    background-color: rgb(14, 14, 255);
}